@font-face {
    font-family: "PT_Sans-Web-Bold";
    src: url("./fonts/PT_Sans-Web-Bold.ttf");
  }
@font-face {
    font-family: "PT_Sans-Web-Italic";
    src: url("./fonts/PT_Sans-Web-Italic.ttf");
}
@font-face {
    font-family: "PT_Sans-Web-Regular";
    src: url("./fonts/PT_Sans-Web-Regular.ttf");
  }
* {
    font-family: PT_Sans-Web-Bold;
}

.page {
    background-color: orange;
}
.container {
    display: block;
    background-color: rgb(243, 243, 243);
    height: 100%;
    margin-top: 50px;
}
